<link rel="shortcut icon" href="{$Think.const.BASE_URL}favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{$Think.const.BASE_URL}static/css/font.css">
<link rel="stylesheet" href="{$Think.const.BASE_URL}static/css/xadmin.css">

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="{$Think.const.BASE_URL}static/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="{$Think.const.BASE_URL}static/js/xadmin.js"></script>