<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CSS__/font.css">
    <link rel="stylesheet" href="__CSS__/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__LIB__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/xadmin.js"></script>
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script>
        var checkEmailResult=false;
        var checkPsdResult = false;
        var checkPhoneResult = false;
        function verify_email(){
            checkEmailResult = false;
            var email = jQuery("[name='email']").val();
            var regex = /^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/g;
            if(regex.test(email)){
                jQuery.ajax({
                    url:"{:url('index/reg/check')}",
                    type:'post',
                    data:'email='+email,
                    success:function(re){ //这里有三个参数,分别是response,status,xhr,需要几个写几个
                        if(re=="ok"){
                            jQuery("#u_email").html("<font style='color:red;font-size: 14px;'>邮箱已经被注册</font>");
                            checkEmailResult=false;
                        }else if(re=="error"){
                            jQuery("#u_email").html("");
                            checkEmailResult=true;
                        }
                    }
                });
            }else{
               jQuery ("#u_email").html("<font style='color:red;font-size: 14px;'>请输入正确的邮箱地址</font>");
                checkEmailResult=false;
            }
        }
        function verify_password(){
            checkPsdResult=false;
            var password=jQuery("[name='password']").val();
            if(!/^\S{8,20}$/.test(password)){
                jQuery("#u_password").html("<font style='color:red;font-size: 14px;'>密码长度错误</font>");
                checkPsdResult = false;
            }else{
                jQuery("#u_password").html('');
                checkPsdResult = true;
            }
        }
        function verify_phone() {
            checkPhoneResult = false;
            var phone = jQuery("[name = 'mobile']").val();
            if(!/^^1[3|4|5|8][0-9]\d{4,8}$/.test(phone)) {
                jQuery("#u_phone").html("<font style='color:red;font-size: 14px;'>手机格式错误</font>");
                checkPhoneResult = false;
            }else{
                jQuery("#u_phone").html('');
                checkPhoneResult = true;
            }

        }
        function checkAll() {
            if(checkPhoneResult && checkEmailResult && checkPsdResult){
                return true;
            }else{
                return false;
            }
        }
    </script>

</head>
<body class="login-bg">

<div class="login">
    <div class="message">用户注册</div>
    <div id="darkbannerwrap"></div>

    <form method="post"   action="{:url('index/reg/save')}" onsubmit="return checkAll()">
        <input name="email" placeholder="请输入邮箱"  type="text" lay-verify="required" onchange="verify_email()">
        <span id="u_email"></span>
        <hr class="hr15">
        <input name="password"  placeholder="密码长度8到20位"  type="password" lay-verify="required" onchange="verify_password();">
        <span id="u_password"></span>
        <hr class="hr15">
        <div style="width: 340px;">
            <input name="mobile" id = "phone" placeholder="请输入手机"  type="text"  style="width: 60%;" onchange="verify_phone();" lay-verify="required">
            <button style="width: 30%;display: inline;float:right;height: 50px;" class="layui-btn layui-btn-primary">获取验证码</button>
        </div>
        <span id="u_phone"></span>
        <hr class="hr15">
        <input name="vcode" placeholder="手机验证码"  type="text"  class="layui-input" >
        <span></span>
        <input name="u_recommend" placeholder="推荐id"  type="hidden" value="" >
        <hr class="hr15">
        <input value="注册" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>
</div>


<script>
  /*  $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            // layer.msg('玩命卖萌中', function(){
            //   //关闭后的操作
            //   });
            //监听提交
            form.on('submit(login)', function(data){
                // alert(888)
                layer.msg(JSON.stringify(data.field),function(){
                    location.href='index.html'
                });
                return false;
            });
        });
    })*/
    /*function sendSms() {
        if ($("#phone").val().length == 11) {
            $.ajax({
                type: "POST",
                url: "/account/sendsms",
                data: {
                    mobile: $("#mobile").val()
                },
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    if (data.isSuccess) {
                        time();
                    } else {
                        toastr.error(data.msg, "提示");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                },
                error: function () {
                }
            });
        } else {
            return;
        }
    }*/


</script>


<!-- 底部结束 -->
<!--
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
-->
</body>
</html>